doctype html
html
	head
		meta(charset='utf-8')
		meta(property='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		meta(property='og:url', content='https://bobco.moe')
		meta(property='og:type', content='website')
		meta(property='og:locale', content='en_US')
		meta(property='og:site_name', content='BOBCo')
		meta(property='og:image', content='https://bobco.moe/assets/images/logo.png')
		meta(property='og:description', content='')
		meta(property='description', content='')
		title='BobCo'
		block appHead
	body
		#App
