@charset "utf-8";

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  --navBackgroundColor: #346788;
  --bodyBackgroundColor: #222;
  display: flex;
  flex-direction: row;
  font-family: 'Oxygen', sans-serif;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav > [type='radio'] {
  display: none;
}
#nav > [type='radio'] + label > .content {
  display: none;
}
#nav > [type='radio']:checked + label > .content {
  height: 100%;
  width: calc(100vw - var(--navWidth));
  position: absolute;
  display: flex;
  z-index: 0;
  top: 0px;
  left: var(--navWidth);
  background-color: var(--bodyBackgroundColor);
  cursor: auto;
}

#nav, #nav > .item {
  --navWidth: 4.2em;
  --padding: 0.5em;
  --buttonHeight: 3em;
}

#nav {
  height: 100vh;
  width: var(--navWidth);
  background-color: var(--navBackgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#nav > .item + label {
  height: calc(var(--navWidth) - var(--padding)*2);
  width: calc(var(--navWidth) - var(--padding)*2);
  padding: calc(var(--padding)*2/3);
  margin: calc(var(--padding)/3);
  cursor: pointer;
}
#nav > .item + label > img {
  height: 100%;
  width: 100%;
  border-radius: 0.625em;
}
#nav > :not(:checked) + label:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--padding);
  transition: .15s;
}
#nav > :checked + label {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--padding);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
  padding-right: var(--padding);
}

#nav > :checked + label > .navSlider {
  position: relative;
  display: inline-block;
  height: calc(var(--navWidth) - var(--padding)*2/3);
  width: 0.6em;
  left: calc(var(--navWidth) - var(--padding));
  bottom: calc(var(--navWidth) - var(--padding)*2/3);
  border-top-right-radius: 0.625em;
  border-bottom-right-radius: 0.625em;
  background-color: var(--navBackgroundColor);
  z-index: 1;
}
#nav > :checked + label > .navSlider > div {
  height: inherit;
  width: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

#home:checked ~ [for=home] > .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
[for=home] > .content > div {
  margin-top: 5vh;
}

@media (max-width: 640px) {
  #waifu:checked ~ [for=waifu] > .content {
    flex-direction: column;
    justify-content: start;
  }

  [for=waifu] > .content > div {
    width: calc(100vw - var(--navWidth) - 17px);
  }
}
@media (min-width: 641px) {
  #waifu:checked ~ [for=waifu] > .content {
    flex-direction: row;
    justify-content: center;
  }
  [for=waifu] > .content > div {
    width: 40%;
  }
}

#waifu:checked ~ [for=waifu] > .content {
  display: flex;
  width: inherit;
}
[for=waifu] > .content > div {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
[for=waifu] > .content > .util > div {
  width: 100%;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
[for=waifu] > .content > .util #loginImg {
  height: auto;
  width: 70%;
  max-width: 50vh;
  border-radius: 50%;
}
[for=waifu] > .content .desc > .carousel {
  height: calc(70% - var(--padding)*4);
  width: calc(100% - var(--padding)*4);
  min-height: 40vh;
  padding: var(--padding);
  margin: var(--padding);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.9em;
}
[for=waifu] > .content .desc > .text {
  height: auto;
  width: calc(100% - var(--padding)*4);
  padding: calc(var(--padding)*2);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.9em;
}

.button {
  height: auto;
  width: auto;
  flex-direction: row;
  justify-content: center;
  font-size: large;
}
.button > a {
  height: auto;
  width: auto;
  background-color: var(--navBackgroundColor);
  border-radius: 0.9375em;
}
.button > a > p {
  height: auto;
  width: auto;
  padding: 8%;
  border-radius: 0.9375em;
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.button > a:hover > p {
  background-color: rgba(0, 0, 0, 0.2);
}
.button > a:active > p {
  background-color: rgba(0, 0, 0, 0.4);
}
