body {
  margin: 0px;
  height: 100%;
  width: 100%;
  --headerBackgroundColor: #346788;
  --bodyBackgroundColor: #222;
}

#menu + #content, #menu, #menu > .item {
  --headerHeight: 60px;
  --padding: 8px;
  transition: .15s .2s;
}
#menu:hover + #content, #menu:hover, #menu:hover > .item{
  --headerHeight: 80px;
  --padding: 15px;
  transition: .15s;
}

#menu {
  height: var(--headerHeight);
  width: 100%;
  background-color: var(--headerBackgroundColor);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#menu > .item {
  height: calc(var(--headerHeight) - var(--padding)*2);
  width: calc(var(--headerHeight) - var(--padding)*2);
  padding: calc(var(--padding)*2/3);
  margin: calc(var(--padding)/3);
}
#menu > .item > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#menu > .item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--padding);
  transition: .15s;
}

#content {
  height: calc(100vh - var(--headerHeight));
  width: 100%;
  background-color: var(--bodyBackgroundColor);
}
