@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  margin: 0px;
}

.App-intro {
  padding: 20px;
  font-size: large;
  text-align: center;
}

.App {
  font-family: 'Oxygen', sans-serif;
  background-color: #222;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-fail {
  color: #ff4646;
}

/* App-loading */

.App-loading {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 60px);
  top: 60px;
}
.App-loading > img {
  animation: App-image-spin infinite 6s linear;
  align-self: center;
  max-height: 40vh;
}

/* App-header */

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #346788;
  height: 60px;
}
.App-header > div {
  flex-basis: 33%;
}
.App-header > h1 {
  flex-basis: 34%;
}

.App-logo {
/*  animation: App-image-spin infinite 20s linear; */
  height: 40px;
  width: 40px;
  padding: 10px;
}

.SubApp-logo {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 20px;
}

.App-title {
  text-align: center;
  align-self: center;
  width: calc(100vw - 120px);
  cursor: default;
}

.App-User {
  display: flex;
  justify-content: flex-end;
}
.App-User > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-User > div > p {
  margin: 0px;
  padding: 5px;
  cursor: default;
}
.App-User > img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.App-User > a > img {
  padding: 15px;
  width: 30px;
  height: 30px;
}

/* App-body */

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.App-button {
  text-align: center;
  align-self: center;
  background-color: #346788;
  border-radius: 7px;
  padding: 15px 40px 15px 40px;
  user-select: none;
  color: white;
  font-size: inherit;
  border-width: 0px;
}
.App-button:hover {
  background-color: #29526c;
  cursor: pointer;
}
.App-button:active {
  background-color: #24485f;
}
.App-button > p {
  margin: 0px;
}

@keyframes App-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
