@import url('https://fonts.googleapis.com/css?family=Oxygen');

$primary-blue: #346788;

$primary-red: #ff4646;

body {
  margin: 0;
	background: #222 url("/assets/images/soft-triangles.png") repeat;
	background-size: 30vw;
  overflow: hidden;
}

.App {
	height: 100vh;

  display: grid;
	grid-template-columns: [left-edge] 250px [side-nav-right nav-left] 1fr [right-edge];
	grid-template-rows: [top nav-profile-top] 60px [top-nav-bottom content-top] 190px [nav-profile-bottom side-nav-top] 1fr [content-bottom side-nav-bottom bottom];

	background-color: rgba(0,0,0,0.2);
	font-family: 'Oxygen', sans-serif;
	color: white;
}

/* App-loading */
.App-loading {
  position: absolute;
  display: flex;
  justify-content: center;

  > img {
		animation: App-image-spin infinite 6s linear;
	}
}

#App-nav-profile {
	grid-column: left-edge / span side-nav-right;
	grid-row: nav-profile-top / span nav-profile-bottom;

	display: grid;
	grid-template-columns: [left-edge] 1fr [center] 1fr [right-edge];
	grid-template-rows: [top] 1fr [center] 1fr [bottom];

	justify-items: center;
	align-items: center;

	> .nav-profile-image {
		grid-column: left-edge / span center;
		grid-row: top / span center;

		> img {
			width: 100px;
			height: 100px;

			border-radius: 100px;
		}
	}

	> .nav-profile-logout {
		grid-column: center / span right-edge;
		grid-row: top / span center;

		> i {
			width: 50px;
			height: 50px;
		}
	}

	> .nav-profile-name {
		grid-column: left-edge / span right-edge;
		grid-row: center / span bottom;

		justify-items: center;
		align-items: center;

		> p {

		}
	}
}

#App-side-nav {
	grid-column: left-edge / span side-nav-right;
	grid-row: side-nav-top / span side-nav-bottom;
}

/* App-header */
#App-top-nav {
	grid-column: nav-left / span right-edge;
	grid-row: top / span top-nav-bottom;

  display: grid;
	grid-template-columns: [left-edge] 1fr [left-center] 200px [right-center] 1fr [right-edge];
	grid-template-rows: [top] 1fr [bottom];

	justify-items: center;
	align-items: center;
  background-color: $primary-blue;

	> .App-logos {
		grid-column: left-edge / span left-center;
		grid-row: top / span bottom;

		display: flex;

		a {
			border: 5px;
		}

		img {
			height: 50px;
			width: 50px;
		}
	}
}

.App-logo {
  height: 40px;
  width: 40px;
  padding: 10px;
}

.SubApp-logo {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 20px;
}
/*
.Patreon-top-button {
  cursor: pointer;
  border-radius: 16px;
  height: 40px;
  padding: 10px;
}
*/
.App-title {
  text-align: center;
  align-self: center;
  cursor: default;
}

.App-User {
  display: flex;
  justify-content: flex-end;
}
.App-User > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-User > div > p {
  margin: 0;
  padding: 5px;
  cursor: default;
}
.App-User > img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.App-User > a > img {
  padding: 15px;
  width: 30px;
  height: 30px;
}

/* App-body */

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.App-button {
  text-align: center;
  align-self: center;
  background-color: #346788;
  border-radius: 7px;
  padding: 15px 40px 15px 40px;
  user-select: none;
  color: white;
  font-size: inherit;
  border-width: 0;
}
.App-button:hover {
  background-color: #29526c;
  cursor: pointer;
}
.App-button:active {
  background-color: #24485f;
}
.App-button > p {
  margin: 0;
}

@keyframes App-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
